{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block contenido %}
<title>Lista de Turnos</title>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
<main class="container">
  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1 class="pb-2 border-bottom" style="text-align:center">Lista de Turnos</h1>
        </div>
        {% comment %} <div class="col-md-4 offset-md-4">
            <a name="" id="" class="btn btn-primary" href="{% url 'turnos'%}" role="button">Nuevo Turno</a>
        </div> {% endcomment %}
    </div>
  </div>
  <table class="w3-table-all">
    <thead>
      <tr class="item">
        <th style="text-align:center" bgcolor="lightblue">Servicio</th>
        <th style="text-align:center" bgcolor="lightblue">Cedula de Ticket</th>
        <th style="text-align:center" bgcolor="lightblue">Prioridad</th>
        <th style="text-align:center" bgcolor="lightblue">Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for turno in turnos %}
      <tr>
        <td style="text-align:center">{{ turno.servicio_id }}</td>
        <td style="text-align:center">{{ turno.persona_id }}</td>
        <td style="text-align:center">{{ turno.nivel_prioridad_id }}</td>
        <td style="text-align:center">{{ turno.cola_estado}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock contenido %}